.latest-match-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.main-heading {
  color: #ffffff;
  font-size: 18px;
}
.latest-match{
  background-color: #1e293b;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}